.nav_bar_container {
    background-color: #45474B;
    color: white;
    padding: 15px;
    position: sticky;
    top: -70px;
    height: 100px;
    z-index: 100;
    border-bottom: 2px solid var(--color-orange);
    display: flex;
    justify-content: center;
}

.nav_var_content_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1500px;
    width: 100%;
    margin-inline: 30px;
}

@media (max-width: 600px) {
    .hello_message {
        white-space: nowrap;
    }
}

.actions_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links_container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}

.nav_link_text {
    font-size: 1.3em;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

.nav_link_selected {
    color: var(--color-orange);
    font-weight: bold;
}

.nav_link {
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(#ffffff 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
}

.nav_link:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

.typewriter {
    font-size: 2.8em;
    padding-bottom: 15px;
    cursor: pointer;
    display: inline-flex;
    white-space: nowrap;
}

.typewriter_cursor {
    border-left: 3px solid var(--color-orange);
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
