services:
  nextjs-app-dev:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    develop:
      watch:
        - path: .
          action: sync
          target: /app
          ignore:
            - node_modules/
            - .next/
    command: npm run dev