.container {
    min-height: calc(100vh - 263px);
    background-color: var(--color-background);
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: auto;

    padding-inline: 30%;
    width: 40%;
}

@media (min-width: 1600px) {
    .container {
        padding-inline: calc(50% - 350px);
        width: 700px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding-inline: 25%;
        width: 50%;
    }
}

@media (max-width: 900px) {
    .container {
        padding-inline: 15%;
        width: 70%;
    }
}

@media (max-width: 600px) {
    .container {
        padding-inline: 5%;
        width: 90%;
    }
}

.container h1 {
    color: beige;
}

.container h2 {
    color: aqua;
}

.title {
    font-size: 44px;
    font-weight: 1000;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.writing_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
    padding-top: 10px;
    padding-bottom: 10px;
}

.author_container {
    font-size: 15px;
    color: gray;
}

.author_name {
    font-weight: bold;
}

.date_data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 11px;
    color: rgb(148, 148, 148);
}

.date {
    font-weight: bold;
}
