:root {
    /* font */
    --font-mono: "Roboto Mono";

    /* base colors */
    --color-background: rgb(236, 226, 210);
    --color-orange: rgb(255, 68, 0);
    --color-orange-opacity-01: rgba(255, 68, 0, 0.01);
    --color-orange-opacity-05: rgba(255, 68, 0, 0.05);
    --color-orange-opacity-1: rgba(255, 68, 0, 0.1);
    --color-orange-opacity-2: rgba(255, 68, 0, 0.2);
    --color-orange-opacity-6: rgba(255, 68, 0, 0.6);
}

body {
    margin: 0px;
    padding: 0px;
}
