.presentation_full_screen_wrapper {
    min-height: var(--base-container-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    row-gap: 30px;
    background-color: var(--color-background);
}

.presentation_container {
    width: fit-content;
    max-width: 80vw;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    gap: 25px;

    background-color: var(--color-orange-opacity-05);
    border-radius: 20px;
    
    padding: 40px;
    margin-top: 30px;
    margin-inline: 5px;
}

.presentation_picture_border_container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--color-orange-opacity-6);
    position: relative;
}

.presentation_picture_container {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    background-color: var(--color-orange-opacity-6);
    position: absolute;
    top: 2px;
    left: 2px;
}

.presentation_picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 5%;
    box-shadow: 0px 0px 10px var(--color-orange-opacity-9);
}

.presentation_data_container {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.presentation_data_group_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.presentation_data_name_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -3px;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 0px 15px;
}

.presentation_data_name_text {
    font-family: var(--font-serif);
    font-size: clamp(45px, 7vw, 70px);

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.presentation_data_firstname {
    color: var(--color-orange);
}

.presentation_data_role_text {
    font-size: 25px;
}

.presentation_data_role_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.presentation_data_specs_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.presentation_data_links_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.presentation_data_sentence {
    max-width: 700px;
    font-style: italic;
    text-align: left;
}

@media (max-width: 1300px) {
    .presentation_data_specs_container {
        justify-content: center;
    }

    .presentation_data_links_container {
        justify-content: center;
    }

    .presentation_data_role_container {
        justify-content: center;
    }

    .presentation_data_sentence {
        max-width: 100%;
        text-align: center;
    }
}

.presentation_data_spec_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation_data_specs_text {
    font-size: 17px;
    margin-right: 15px;
    margin-left: 5px;
}



.presentation_buttons_container {
    display: flex;
    gap: 40px;
    padding-bottom: 50px;
}

.main_button_container {
    border: 1px solid var(--color-orange-opacity-8);
    background-color: var(--color-orange-opacity-05);
    color: var(--color-orange);

    padding-inline: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 3px;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 0.4s, transform 0.4s;
}

.main_button_container:hover {
    background-color: var(--color-orange-opacity-2);
    transform: scale(1.02);
}
