.resume_container {
    min-height: calc(100vh - 203px);
    background-color: var(--color-background);
    justify-content: center;
    display: flex;
}

.content_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    margin-inline: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.presentation_container {
    row-gap: 0px;
    margin-top: 20px;
    padding-inline: 5px;
    position: sticky;
    top: 70px;
}

.presentation_name {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 0;
}

.presentation_job {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
}

.presentation_desc {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    max-width: 300px;
}

.presentation_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 2px;
    border-left: 2px solid var(--color-orange-dark);
    text-align: center;
    justify-content: center;
}

.presentation_menu_item {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-orange-dark);

    height: 25px;
    width: fit-content;

    padding-bottom: 7px;
    padding-inline: 10px;
    
    border-radius: 5px;
    align-items: center;
    display: flex;

    cursor: pointer;

    transition: color 0.15s, font-size 0.15s, background-color 0.15s;
}

.presentation_menu_item:hover {
    font-size: 1.4rem;
    color: var(--color-orange);
}

.part_container {
    margin-top: 40px;
    scroll-margin: 80px;
}

.part_container:first-child {
    margin-top: 20px;
}

.part_title {
    position: sticky;
    font-size: 1.2rem;
    font-weight: 700;
    top: 60px;
    left: 0;
    padding: 10px;
    padding-inline: 5px;
    background-color: var(--color-background-opacity-2);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.part_content {
    padding-inline: 5px;
}

.experiences_container {
    display: flex;
    flex-direction: column;
    padding: 2px 0px;
}

.experience_container {
    position: relative;
    padding-bottom: 30px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid var(--color-orange);
}

.experience_container:last-child {
    padding-bottom: 0px;
}

.experience_left_dot_decoration {
    position: absolute;
    top: -1px;
    left: -7px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    border: 2px solid var(--color-orange);
}

.experience_right_data_container {
    margin-top: -4px;
    padding-left: 10px;
}

.experience_dates_container {
    color: rgb(102, 102, 102);
    font-size: 0.75rem;
    font-weight: 700;
}

.experience_title_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    margin-top: 5px;
}

.experience_title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-orange);
}

.experience_company {
    font-size: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}