.blog_container {
    min-height: var(--base-container-height);
    background-color: var(--color-background);
    overflow-y: auto;
}

.articles_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--space-3xl);
    margin-bottom: var(--space-md);
    margin-inline: var(--space-md);
    gap: var(--space-xs);
}

.article_container {
    height: 250px;
    width: 350px;
    overflow: hidden;
    font-weight: 400;
}

.article_image_container {
    width: 100%;
    height: calc(100% - 55px);
    position: relative;
    border-bottom: var(--border-thin) solid var(--color-orange-opacity-6);
}

.article_text_container {
    padding: var(--space-2xs);
    height: 44px;
    display: flex;
    align-items: center;
    position: relative;
}

.article_text_title {
    font-size: var(--text-16);
}

.article_text_date {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: var(--text-12);
    font-weight: normal;
    color: var(--color-text-muted);
}
