.blog_container {
    min-height: calc(100vh - 243px);
    background-color: var(--color-background);
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.blog_title {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.blog_subtitle {
    text-align: center;
    margin-inline: 50px;
    color: rgb(71, 71, 71);
}

.articles_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-inline: 20px;
    gap: 10px;
}

.article_container {
    height: 250px;
    width: 350px;
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange-opacity-05);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: background-color 0.2s ease, font-weight 0.2s;
}

.article_container:hover {
    background-color: var(--color-orange-opacity-1);
    font-weight: 500;
}

.article_image_container {
    width: 100%;
    height: calc(100% - 55px);
    position: relative;
    border-bottom: 1px solid var(--color-orange-opacity-6);
}

.article_text_container {
    padding: 5px;
    height: 44px;
    display: flex;
    align-items: center;
    position: relative;
}

.article_text_title {
    font-size: 1.05em;
}

.article_text_date {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 0.6em;
    font-weight: normal;
    color: rgb(75, 75, 75);
}
