.card {
    border: var(--border-thin) solid var(--color-orange);
    background-color: var(--color-orange-opacity-05);
    border-radius: var(--radius-md);
    color: var(--color-text);
    text-decoration: none;
    transition: background-color var(--transition-base),
        border-color var(--transition-base), transform var(--transition-base);
}

.interactive {
    cursor: pointer;
}

.interactive:hover {
    background-color: var(--color-orange-opacity-1);
    transform: translateY(-2px);
}
