.footer_container {
    background-color: #45474B;
    color: white;
    border-top: 1px solid var(--color-orange);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 45px;
    padding-top: 10px;
    position: relative;
}

.bold_text {
    font-weight: bold;
}

.orange_text {
    color: var(--color-orange);
}

.version {
    position: absolute;
    right: 12px;
    bottom: 6px;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.445);
}